
<!-- TEXT BOX & BUTTON -->
<div class="row">
	<div class="col-md-6 col-xs-12">
    	<div class="input-group">
      		<input type="text" class="form-control" aria-label="..." ng-model="todo.description">
     		<div class="input-group-btn">
        		<button class="btn btn-default" type="button" ng-click="saveFunc()">save</button>
        	</div>
		        <div class="formdrop">
					<select class="form-control"  ng-model="todo.name">
					    <option value="" disabled selected>assign to:</option>
					    <option value="Andres">Andres</option>
					    <option value="Blake">Blake</option>
					    <option value="Brian">Brian</option>
					    <option value="Chris">Chris</option>
					    <option value="Gabe">Gabe</option>
					    <option value="Jon">Jon</option>
					    <option value="Kate">Kate</option>
					    <option value="Kerry">Kerry</option>
					    <option value="Rob">Rob</option>
					    <option value="Savannah">Savannah</option>
					    <option value="Vicky">Vicky</option>
					    <option value="Will">Will</option>
					</select>
				</div>
        </div>
    </div>
</div>



<!-- VIEW TASKS DROPDOWN -->
<div class="row2">
	<div class="col-md-6 col-xs-12">
	  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
	    view person's tasks
	    <span class="caret"></span>
	  </button>
	  <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenu1">
	  	  	<li><a value="Will" href="#" ng-click="opFunc('Will')">Will</a></li>
		    <li><a value="Vicky" href="#" ng-click="opFunc('Vicky')">Vicky</a></li>
		    <li><a value="Savannah" href="#" ng-click="opFunc('Savannah')">Savannah</a></li>
		    <li><a value="Rob" href="#" ng-click="opFunc('Rob')">Rob</a></li>
		    <li><a value="Kerry" href="#" ng-click="opFunc('Kerry')">Kerry</a></li>
		    <li><a value="Kate" href="#" ng-click="opFunc('Kate')">Kate</a></li>
		    <li><a value="Jon" href="#" ng-click="opFunc('Jon')">Jon</a></li>
		    <li><a value="Gabe" href="#" ng-click="opFunc('Gabe')">Gabe</a></li>
		    <li><a value="Brian" href="#" ng-click="opFunc('Chris')">Chris</a></li>
		    <li><a value="Brian" href="#" ng-click="opFunc('Brian')">Brian</a></li>
		    <li><a value="Blake" href="#" ng-click="opFunc('Blake')">Blake</a></li>
		    <li><a value="Andres" href="#" ng-click="opFunc('Andres')">Andres</a></li>
	  </ul>
	</div>
</div>


<!--PROGRESS & COMPLETE LISTS -->
<div class="col-lg-6 col-xs-12">
	<h4>IN PROGRESS</h4>
		<ul ng-repeat="x in todos">
		  <li ng-class="x.status || 'in-progress'" ng-show="!x.completed">{{x.description}}
		  	<div class="input-group-btn">
	       		 <button ng-show="!x.status" class="btn btn-default" id="deleteBtn" type="button" ng-click="deleteFunc(x)">delete</button>
	       		 <button ng-show="!x.status" type="button" class="btn btn-default" id="doneBtn" ng-click="editFunc(x)">done</button>
	       		 <button ng-show="x.status" type="button" class="btn btn-default">{{x.action}}</button>
	    	</div>
	      </li>
		</ul>
</div>

<div class="col-lg-6 col-xs-12">
	<h4>DONE</h4>
		<ul ng-repeat="x in todos">
			<li ng-class="x.status || 'complete'" ng-show="x.completed">{{x.description}}
				<div class="input-group-btn">
					<button ng-show="!x.status" class="btn btn-default" id="deleteBtn" type="button" ng-click="deleteFunc(x)">delete</button>
					<button ng-show="x.status" class="btn btn-default" type="button">{{x.action}}</button>
				</div>
			</li>
		</ul>
</div>






