@import url('https://fonts.googleapis.com/css?family=Just+Another+Hand|Open+Sans:300,700');

body { 
	padding-top:60px; 
	background-color: #fff;
	font-family: Open Sans;
	font-weight: 700;
}

/* NAVBAR */
.navbar{
	width: cover;
	height: 60px;
	background-color: #6685b7;
}

.navbar-brand{
	font-family: 'Just Another Hand', cursive;
	color: #ff8169 !important;
	font-size: 45px;
	letter-spacing: 0.15em;
	margin-left: 60px;
	line-height: 40px;
}

/* ADD TASK BTN */
.row{
	margin-top: 20px;
}

/* VIEW PERSONS TASKS */
.row2{
	position: relative;
	float: right;
	margin-top: -35px;
	margin-right: -80px;
}

@media screen and (max-width: 400px){
	.row2{
		margin-top: 10px;
		margin-right: -15px;
	}
}

@media screen and (max-width: 990px){
	.row2{
		margin-top: 10px;
		margin-right: -15px;
	}
}

#dropdownMenu1{
	background-color: #fff !important;
	position: relative;
	float: right;
}

.form-control{
	position: relative;
	float: right;
}

/* IN PROGRESS & COMPLETE */

h4{
	text-align: left;
	margin-left: 60px;
	margin-top: 30px;
	font-weight: bold;
}

.inprogress li{
	list-style-type: none;
	border: 1px solid #000;
	background-color: #FFE5CF;
	width: 300px;
	border-radius: 2px;
	padding: 5px;
	height: auto;
}

.input-group-btn #deleteBtn{
	border-color: #000;
	margin-right: 2px;
	margin-top: 3px;
	border-radius: 3px;
}

.input-group-btn #doneBtn{
	border-color: #000;
	margin-top: 3px;
	border-radius: 3px;
}

.complete #completedLi{
	list-style-type: none;
	border: 1px solid #000;
	/*background-color: #F6AD77;*/
	background-color: #D1DCF2;
	width: 300px;
	border-radius: 2px;
	padding: 5px;
	height: auto;
}

/* OPERATOR */
.inprogress #progressOp{
	list-style-type: none;
	border: 1px solid #000;
	background-color: #FFE5CF;
	width: 300px;
	border-radius: 2px;
	padding: 5px;
	height: auto;
}







